html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

#root {
  font-family: "Montserrat", sans-serif;
  background: url("background.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
